title: κ°λ° λ…ΈνΈ
description: DaHoon06 Dev Blog
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://dahoon06-dev.netlify.app" # the base hostname & protocol for your site, e.g. http://example.com

# Author
author-name:    Jeon DaHoon
author-image:   profile.gif
author-job:     FrontEnd Developer
author-email:   dahoon226@gmail.com # Add your email for contant form.
author-twitter: _getters # Add your twitter account
about-author:   Simple is the best.

# Social settings
social-twitter:   _getters
social-facebook:
social-github:    dahoon06
social-pinterest:
social-instagram:
social-youtube:
social-vk:   
social-linkedin:

# Newsletter
mailchimp: # Add your MailChimp form identifier. For example - blogenjoyfreedom.us16.list-manage.com/subscribe/post?u=cd56155d76ddeeb4c0bc4d080&amp;id=7a526cd13e

# Google Analytics
google-analytics: G-0QFBX15VZ9

# Comment Section (Disqus)
disqus-identifier: mr-brown # Add your shortname for Disqus Comment. For example mr-brown

# Build settings
markdown: kramdown
permalink: /:year/:month/:day/:title/
plugins:
  - jekyll-paginate

paginate: 7
paginate_path: "/page/:num/"

include:
  - _pages

sass:
  sass_dir: _sass
  style: compressed

# Exclude from processing.
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor
