.category {
    border-radius: 50px;
    width: fit-content;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    background-color: #222;
    border-radius: 10px;

    &:hover {
        opacity: 1;
    }
}
