.main {
    background-image: url("/images/bg.gif");
    background-size: cover; // 또는 contain, 원하는 스타일로
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: auto;
}
