<style>
  /* change cover_img in config.yml */
  .jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url(https://ghchart.rshah.org/219138/dahoon06);
    text-align: center;
    background-attachment: fixed;
    background-size: contain;
    background-position: 0px 10%;
    background-repeat: no-repeat;
  }
  .jumbotron-btns {
    display: block;
    margin-top: 50px;
  }

  .jumbotron-heading,
  .lead {
    color: #fff;
  }
</style>

<!-- home hero section -->
<div class="jumbotron">
  <img
    class="author-profile-img"
    src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}"
  />
  <p class="jumbotron-heading mt-5">{{site.introduceContent}}</p>

  <p class="lead" id="typewriteText"></p>
</div>
