.container {
    display: flex;
    gap: 16px;

    .post {
        flex: 4;
        max-width: 768px;
    }

    .aside {
        flex: 1;
        display: block;

        @media (max-width: 768px) {
            display: none;
        }
    }
}
