.tag {
    border-radius: 50px;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    color: #3a3a3a;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #e0e0e0;
    }
}
