@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    --breakpoint-xs: 500px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;

    --text-xxs: 0.625rem;
    --text-s: 0.8125rem;
    --text-m: 0.9375rem;
    --text-b: 1.0625rem;
    --text-l: 1.1875rem;

    --font-pretendard: var(--font-pretendard);
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;

    @media (width >= --theme(--breakpoint-xs)) {
        max-width: none;
    }
    @media (width >= 1400px) {
        max-width: 1400px;
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@utility word-break {
    word-break: break-word;
}

@layer base {
    :root {
        --background: 100% 0 0;
        --foreground: 23% 0.02 262;

        --card: 100% 0 0;
        --card-foreground: 23% 0.02 262;

        --popover: 100% 0 0;
        --popover-foreground: 23% 0.02 262;

        --primary: 27% 0.03 256;
        --primary-foreground: 97% 0.01 238;

        --secondary: 95% 0.01 256;
        --secondary-foreground: 27% 0.03 256;

        --muted: 95% 0.01 256;
        --muted-foreground: 56% 0.01 256;

        --accent: 95% 0.01 256;
        --accent-foreground: 27% 0.03 256;

        --destructive: 63% 0.15 22;
        --destructive-foreground: 97% 0.01 238;

        --border: 90% 0.01 256;
        --input: 90% 0.01 256;
        --ring: 23% 0.02 262;

        --radius: 0.5rem;
    }

    .dark {
        --background: 23% 0.02 262;
        --foreground: 97% 0.01 238;

        --card: 23% 0.02 262;
        --card-foreground: 97% 0.01 238;

        --popover: 23% 0.02 262;
        --popover-foreground: 97% 0.01 238;

        --primary: 97% 0.01 238;
        --primary-foreground: 27% 0.03 256;

        --secondary: 30% 0.02 256;
        --secondary-foreground: 97% 0.01 238;

        --muted: 30% 0.02 256;
        --muted-foreground: 69% 0.01 256;

        --accent: 30% 0.02 256;
        --accent-foreground: 97% 0.01 238;

        --destructive: 40% 0.08 22;
        --destructive-foreground: 97% 0.01 238;

        --border: 30% 0.02 256;
        --input: 30% 0.02 256;
        --ring: 85% 0.01 256;

        /* primary */
        --color-primary-000: #ff7337; /* 버튼 베이스 */
    }
}

@layer components {
    #nprogress .bar {
        background: #ff7101 !important;
        height: 4px !important;
    }
}
