name: healthy-check

on:
    schedule:
        - cron: "*/5 * * * *"

jobs:
    healthy-check:
        runs-on: ubuntu-latest

        steps:
            - name: system health check
              env:
                  API_URL: ${{ secrets.API_URL }}
                  API_KEY: ${{ secrets.API_KEY }}
              run: |
                  if [ -z "$API_URL" ]; then
                    echo "API_URL is empty"
                    exit 1
                  fi

                  if [ -z "$API_KEY" ]; then
                    echo "API_KEY is empty"
                    exit 1
                  fi

                  curl -X GET "$API_URL" \
                    -H "Authorization: Bearer $API_KEY"
