name: healthy-check

on:
    schedule:
        - cron: "*/5 * * * *"

jobs:
    healthy-check:
        if: github.event_name == 'schedule'
        runs-on: ubuntu-latest
        steps:
            - name: system health check
              run: |
                  curl -X GET "${{ secrets.API_URL }}" \
                    -H "Authorization: ${{ secrets.API_KEY }}" || exit 1
